{% extends 'base.html.twig' %}

{% block title %}Delete Images{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/categories"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/categories/{{ category.getId }}/albums">{{ category.getName }}</a></li>
        <li><a href="/categories/{{ category.getId }}/albums/{{ album.getId }}/images">{{ album.getName }}</a></li>
        <li class="active">{{ image.getName }}</li>
    </ol>
    <p>
        <a href="/categories/{{ category.getId }}/albums/{{ album.getId }}/images/{{ image.getId }}" class="img-thumbnail popup" title="{% if image.getDescription %}{{ image.getDescription }}. {% endif %}Uploaded: {{ image.getCreated }}">
            <img src="/categories/{{ category.getId }}/albums/{{ album.getId }}/images/{{ image.getId }}?thumb=true" alt="{{ image.getName }}">
        </a>
    </p>
    <form method="post" action="/categories/{{ category.getId }}/albums/{{ album.getId }}/images/{{ image.getId }}/delete" class="alert alert-danger">
        <div class="form-group">
            <p>Are you sure to delete <b>{{ image.getName }}</b> image?</p>
        </div>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <a href="/categories/{{ category.getId }}/albums/{{ album.getId }}/images" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}