{% extends 'base.html.twig' %}

{% block title %}Delete Album{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/categories"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/categories/{{ category.getId }}/albums">{{ category.getName }}</a></li>
        <li class="active">{{ album.getName }}</li>
    </ol>

    <form method="post" action="/categories/{{ category.getId }}/albums/{{ album.getId }}/delete" class="alert alert-danger">
        <div class="form-group">
            <p>Are you sure to delete <b>{{ album.getName }}</b> album?</p>
            <p>This will remove all related images!</p>
        </div>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <a href="/categories/{{ category.getId }}/albums" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}